body, html{
  margin:0;
  padding:0;
  font-family: "Raleway",Helvetica,Arial,sans-serif;
  background-color: #C5B8FF;
}
.header{
  display: flex;
  justify-content: space-around;
  height: 130px;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid lightgray;
  opacity: 0.9;
  padding:0 60px;
  background-color: #FAFAFA;
  width: auto;
}
.titleHeader{
  width: 40%;
  font-size: 50px;
  letter-spacing: 10px;
}
h2{
  text-align: left;
}
.menu{
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 10px;
  height: 20px;
  color: #656684 ;
}
.menuItem{
  text-decoration: none;
  color: inherit;
}
.menuItem:hover{
  border-bottom-style:solid;
}
.mobileMenuContainer{
  display: none;
}
.bodyContainer{
  margin: auto;
  background-color: #F4F8FA;
}
.mainContainer{
    display: flex;
    justify-content: space-around;
    padding:40px 50px;
    margin-bottom: 50px;
    height:auto;
    font-family: Georgia,serif;
    color: #656684 ;
    flex-wrap: wrap;

  }
    .left{
      padding:5px 20px;
      width: 45%;
      text-align:center;
    }
    .alt{
      letter-spacing: 5px;
    }
.right{
width: 45%;
padding:5px 20px;
border-radius: 10px;
text-align: center;
}
#rightHeader{
font-weight: 100;
}
.p1{
letter-spacing: 2px;
font-size: 18px;
line-height: 26px;
width: auto;
}
.refe{
text-align: right;
padding-top: 40px;
}
#britannica{
text-decoration: none;
}
#under{
text-align: center;
padding-top: 20px;
}
#underAlt{
 text-align: center;
 font-size: 18px;
 letter-spacing: 5px;
 font-weight:lighter;
 font-family: Georgia,serif;
 color: #656684 ;

}
.formContainer{
background-color:#C5B8FF ;
height: 80px;
text-align: center;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
form{
padding-top:  20px;
}
#input{
border: none;
padding: 2px 20px 0px;
font-size: 19px;
height: 40px;
width: 200px;
margin:0px 20px;
outline: none;
}
#button{
padding: 2px 5px;
font-size: 15px;
height: 40px;
width: 100px;
margin:20px 20px;
color:#6566A1;
}
.footer{
height: 70px;
display: flex;
justify-content: space-around;
align-items: center;
background-color: #F4F8FA;
color:  #656684;
font-weight: lighter;
flex-wrap: wrap;
}
.link{
 color: #771A8B;
}
@media (max-width: 767px) {
  .header{
    justify-content: space-between;
    width: auto;
  }
  .menu {
    display: none;
    width: 100%;
  }
  .mobileMenuContainer{
    display: block;
  }

  .titleHeader{
    font-size: 30px;
  }
  .bodyContainer{
    width:600px;
  }
    .left{
      padding-top:10px;
      width: 100%;
    }
    .right{
      width: 100%;
    }
    #input{
    font-size: 15px;
    height: 40px;
    width: 150px;
    }
    .formContainer{
    background-color:#C5B8FF ;
    height: 150px;
    text-align: center;
    }
    form{
    padding-top:  20px;
    flex-wrap: wrap;
    }
    .footer{
      font-size: 13px;
    }
}
@media (max-width:375px)
{
  .titleHeader{
    font-size: 15px;
  }
  .mobileMenuContainer{
    display: block;
  }
  .bodyContainer{
    width: 320px;
  }
  .mainContainer{
    padding:10px;
  }
  .left{
    padding:0px ;
    width: 100%;
  }
  .right{
    padding:0px ;
    width: 100%;
 }
  .p1{
    font-size: 16px;
  }
  #video{
    width: 90%;
  }
  .formContainer{
    height: 200px;
  }
}
