*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 font-family: open-sans ,sans-serif;
 font-size: large;
 background-color: rgb(58, 18, 95);
}
a{
 text-decoration: none;
}
.nav{
 padding: 10px;
 margin-bottom: 50px;
}
#image{
 margin-bottom: 20px;
}
.list{
 display:flex ;
 flex-direction: row;
 list-style: none;
 justify-content: flex-end;
}
.list-item{
 padding: 20px;
 font-weight:200;
 font-size: 15px;
}
.list-link{
 color:#fff;
 letter-spacing: 2px;
 transition: color .5s;
}
.list-link:hover{
 color:blueviolet;
}
.container{
 text-align: center;
}

#google-search{
 background: #fff;
    border: 1px solid rgb(82, 6, 117);
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
    outline-style: none;
    padding-left: 20px;
}
#google-search:hover{
 background-color: #fff;
    box-shadow: 0 1px 6px rgb(72, 19, 133);
    border-color : rgba(223,225,229,0);
}
.image-word{
color: #fff;
padding:  0 20px;
margin-top: -50px;
padding-left: 230px;
font-size: 20px;
}

