:root {
 --myanmar-font: "Padauk", sans-serif;
 --main-font: "Montserrat", sans-serif;
 --main-color: #313232;
 --green: #91a000;
}
* {
 margin: 0;
 padding: 0;
 /* font-family: "Satisfy", cursive; */
 /* font-family: var(--main-font); */
}
body,html{
 height: 100%;
}
section{
 padding:20px 0;
}
#header {
 position: fixed;
 background: white;
 top: 0;
 width: 100%;
 opacity: 0.8;
 z-index: 3;

}
.nav-bar {
 display: flex;
 justify-content: space-around;
 font-family: "Satisfy", cursive;
}
.nav-bar .logo {
 display: flex;
 width: fit-content;
}
.logo h1 {
 font-size: 30px;
 font-family: "Satisfy", cursive;
}
nav {
 display: flex;
}
.nav-bar nav ul {
 display: flex;
 list-style: none;
 padding: 10px 0;
}
.nav-bar nav ul li a {
 padding: 0 20px;
 margin: 0 10px;
 text-decoration: none;
 font-size: 20px;
 font-weight: 700;
 color: var(--main-color);
 border-bottom: 2px solid transparent;
 transition: 0.5s;
}
.nav-bar nav ul li a:hover {
 border-bottom: 2px solid var(--main-color);
}
.nav-bar nav input{
 padding: 10px;
 border: none;
 font-size: 20px;
 outline: none;
 font-weight: 700;
 font-family: "Satisfy", cursive;
}
nav input::placeholder {
 font-size: 20px;
 font-family: "Satisfy", cursive;
}
.search {
 padding: 10px;
 border: none;
 background: none;
 font-size: 15px;
 cursor: pointer;
}
.nav-bar .menu-icon {
 display: none;
}
.container {
 margin-right: 100px;
 margin-left: 100px;
}
.row {
 display: flex;
}
h1{
 font-size: 50px;
 color: var(--main-color);
}
p{
 font-family: var(--main-font);
 font-weight: 500;
 color: var(--main-color);
 letter-spacing: 1px;
}
a{
 text-decoration: none;
 color: var(--green);
 cursor: pointer;
}
/* home */
#home {
 background-image: url(./img/plant\ 2.jpg);
 background-position: center;
 background-repeat: no-repeat;
 height: 100vh;
 background-size: cover;
 justify-content: center;
 display: flex;
}
#home .container{
 margin: auto;
}
.home-text {
 text-align: center;
 margin: auto;
}
.home-text h1 {
 font-size: 100px;
}
.home-text h3 {
 font-size: 30px;
 margin-top: -30px;
 margin-left: 100px;
}
.home-text p {
 font-size: 20px;
 font-weight: 700;
 letter-spacing: 1px;
 margin: 40px 0px;
 color: var(--main-color);
}
.button {
 display: flex;
 justify-content: space-evenly;
}
.btn {
 padding: 15px 20px;
 border: 2px solid var(--main-color);
 font-size: 18px;
 font-weight: 700;
 background: transparent;
 cursor: pointer;
 transition: ease 0.5s;
 color: var(--main-color);
}
.btn:hover {
 color: white;
 background: var(--main-color);
}

/* decor section */
.col-2{
 flex-basis: 50%;
}
.col2-sub{
margin-top: 70px;
margin-bottom: 20px;
}
.col-2 h1{
 margin-bottom: 20px;
}

/* shop section */
#shop{
 text-align: center;
 margin-top: 100px;
}
.shop-text{
 margin: 30px;
 text-align: center;
}
.shop-text h1{
 margin-bottom: 20px;
}
.shop-box{
 display: flex;
 justify-content: center;
}
.col-4{
 flex-basis:20%;
 margin: 10px;
 border: 1px solid rgba(128, 128, 128, 0.178);
}
.col-4 img{
 width: 100%;
 cursor: pointer;
 transition: transform .5s;

}
.col-4 img:hover{
 transform: scale(1.1);
}
.sub-text{
 text-align: left;
 padding: 10px;
 font-family: var(--main-font);
}
.sub-text h2{
 font-size: 20px;
 padding-bottom: 10px;
}
.sub-text p{
 font-size: 15px;
 font-weight: 700;
}
.btn2{
 width: 100%;
 background: black;
 color: white;
 border: none;
}

/* offices */
#offices .col-2{
 margin: auto;
}
.col-2 img{
 width: 100%;
}

/* parallax */
.parallax{
 background-image: url(./img/plant11.jpg);
 height: 50%;
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 }
 .parallax-text{
  text-align: center;
  padding-bottom: 20px;
  }

/* contact me section */
#contact-me{
 margin-top: 100px;
}
form{
 text-align: center;
 border: 1px solid rgba(128, 128, 128, 0.178);
}
form input, textarea{
 width: 90%;
 padding: 20px;
 margin: 10px;
 outline: none;
 /* font-family: "Satisfy", cursive; */
 border: 1px solid transparent;
}
textarea{
 resize: none;
}
::placeholder{
 color: var(--main-color);
 font-family: var(--main-font);
}
.info{
 margin: 20px;
 padding: 20px;
 text-align: center;
 border: 1px solid rgba(128, 128, 128, 0.178);
}
.info-box{
 padding: 10px 0;
 font-family: var(--main-font);
 cursor: pointer;
}
.info-box h2{
 margin: 10px 0;
 font-size: 20px;
}
.info-box h2 i{
 font-size: 30px;
}
.social-media i{
 padding: 0 10px;
 font-size: 20px;
 transition: transform .3s;
}
.social-media i:hover{
 transform: scale(1.2);
}

/* footer */
#footer{
 text-align: center;
 border: 1px solid rgba(128, 128, 128, 0.178);
}

@media only screen and (max-width : 800px){
 .nav-bar .menu-icon{
    display: block;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    color: var(--main-color);
  }
 .nav-bar nav ul{
 position: absolute;
 top: 50px;
 display: block;
 background: white;
 text-align: center;
 transition: max-height .5s;
 overflow: hidden;
}
 .nav-bar nav ul li{
   padding: 10px 0;
 }
 nav input{
   display: none;
 }
.search{
  display: none;
}
.container{
  margin: 30px;
}
.row{
  flex-wrap: wrap;
}
.col-2{
  flex-basis: 100%;
}
.shop-box{
  flex-wrap: wrap;
}
.col-4{
  flex-basis: 35%;
}
}
@media only screen and (max-width: 600px){
  .container{
    text-align: center;
  }
  .home-text p {
    font-size: 12px;
    margin: 20px 0px;
   }
   .col-4{
     flex-basis: 100%;
   }
   
}
