:root {
    --bs-red: #dc3545;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-primary: #0d6efd;
    --bs-info: #0dcaf0;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-red-orange: #fe685f;
    --bs-light-gray: #afafaf;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: #fff;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container {
    width: 100%;
    margin: 0;
}
h2 {
    font-size: 30px;
}
h1 {
    font-size: 50px;
}
h4 {
    font-size: 20px;
}
p {
    font-size: 15px;
    color: var(--bs-gray);
}
a {
    text-decoration: none;
}
.row {
    display: flex;
    padding: 7% 5%;
}
.main-container {
    background: url(./images/baner-dec-left.png) left top no-repeat;
}
.main-container::before {
    content: "";
    background-image: url(../images/banner-right-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    width: 750px;
    height: 590px;
}
.col-2 {
    flex-basis: 50%;
    margin: auto 0;
}
.header {
    display: flex;
    justify-content: space-between;
    background: #fafafa;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 999;
}
#logo {
    width: 100px;
    height: 50px;
    margin-left: 20px;
    margin-top: 5px;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
ul li {
    padding: 10px;
    margin: 10px;
}
ul li a {
    color: var(--bs-dark);
    font-weight: 500;
}
ul li a:last-child {
    padding: 10px 15px;
    border-radius: 20px;
}
ul li a:hover {
    color: var(--bs-red-orange);
}
input {
    outline: none;
    border: none;
    color: var(--bs-gray);
}
.btn {
    background: var(--bs-red-orange);
    color: var(--bs-white);
    cursor: pointer;
    transition: all ease-in 0.3s;
}
.btn:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}
.header .menu-icon {
    display: none;
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
}
.main-container h4 {
    color: var(--bs-red-orange);
}
#blue {
    color: var(--bs-primary);
}
#red {
    color: var(--bs-red-orange);
}
#blur {
    opacity: 0.3;
    color: var(--bs-red-orange);
}
.main-container p {
    margin-bottom: 15px;
}
.call {
    padding: 20px 0;
    display: flex;
    align-items: center;
}
.call .btn {
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 20px;
}
.cir-ph {
    background: var(--bs-red-orange);
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 60px;
    cursor: pointer;
    color: var(--bs-white);
    text-align: center;
}
.cir-ph i {
    margin: 10px 0;
    font-size: 20px;
}
.service {
    display: inline-block;
    background: url(./images/services-left-dec.png) no-repeat left;
}

.sub-title {
    padding: 20px;
    width: 100%;
    text-align: center;
}
.service-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.col-3 {
    flex-basis: 30%;
    text-align: center;
    height: auto;
    background: var(--bs-light);
}
.service-col {
    margin: 5px;
    padding: 50px 10px;
}
.service-col:hover {
    box-shadow: var(--box-shadow);
}
.service-col h3 {
    font-size: 20px;
    margin: 10px;
}
.service-col img {
    margin: 20px;
}
.col-3 p {
    margin: 20px;
    padding-top: 10px;
}
.service-col:hover {
    cursor: pointer;
}
.all-box {
    display: flex;
    padding: 0;
}
.small {
    text-align: left;
    background: none;
    padding: 10px;
}
.small img {
    margin: 0;
}
.small p {
    margin: 0;
    padding-top: 10px;
}
.portfolio {
    display: inline-block;
    background: url(./images/portfolio-left-dec.png) left no-repeat;
}
.portfolio-box {
    display: flex;
    justify-content: center;
}
.portfolio-col {
    margin: 10px;
}
.portfolio-col img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: brightness(90%);
    transition: transform ease 0.3s;
    transform: scale(0.98);
    cursor: pointer;
}
.portfolio-col img:hover {
    filter: brightness(100%);
    transform: scale(1);
}
.projects {
    display: inline-block;
    width: 100%;
    background: url(./images/tables-left-dec.png), url(../images/tables-right-dec.png) right;
    background-repeat: no-repeat;
}

.projects .sub-title {
    margin-bottom: 20px;
}
.projects-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.projects-col {
    padding: 50px 15px;
    border-radius: 10%;
    box-shadow: var(--box-shadow);
    margin: 10px 15px;
}
.projects-1 {
    background: url(./images/first-plan-bg.png);
}
.projects-2 {
    background: url(./images/second-plan-bg.png);
}
.projects-3 {
    background: url(./images/third-plan-bg.png);
}
.projects-col span {
    color: var(--bs-red-orange);
    text-decoration: line-through;
}
.projects-col h1 {
    color: var(--bs-red-orange);
}
.btn2 {
    background: var(--bs-primary);
    padding: 15px;
    border-radius: 30px;
    transition: all ease 0.5s;
}
.btn2:hover {
    background: var(--bs-red-orange);
}
.form {
    margin: 0;
    padding-top: 0;
}
.form-box {
    padding: 60px;
    border-radius: 50px;
    margin: 0 auto;
    background-image: url(./images/subscribe-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.form-box h3 {
    font-size: 30px;
    text-align: center;
    color: var(--bs-white);
}
.form-box input {
    width: 400px;
    margin: 15px 0;
    padding: 20px;
    background-color: transparent;
}
.form-box form {
    background: var(--bs-light);
    padding: 0 10px;
    border-radius: 40px;
    margin-top: 20px;
}

::placeholder {
    color: #d2beb1;
}
.form-box form a {
    font-size: 16px;
    text-align: center;
}
/* video */
.video {
    background: url(./images/videos-left-dec.png) left no-repeat, url(./images/videos-right-dec.png) right no-repeat;
}
.col-8 {
    flex-basis: 80%;
    margin: 0;
}
.video iframe {
    border-radius: 23px;
    position: absolute;
    width: 700px;
    height: 700px;
}
.video-overlay {
    background: var(--bs-red-orange);
    display: inline-block;
    position: absolute;
    padding: 20px;
    color: var(--bs-white);
    border-radius: 23px 0;
}
.video .col-2 {
    flex-basis: 20%;
    margin: 0;
    padding: 10px;
}
.video .col-2 .project-tumb {
    margin: 20px 0;
    cursor: pointer;
    transition: transform ease-in 0.5s;
    filter: brightness(80%);
}
.video .col-2 .project-tumb:hover {
    transform: translateY(-10px);
    filter: brightness(100%);
}
.project-tumb .video-overlay {
    left: 0;
}

/* contact */
.contact {
    background: url(./images/contact-left-dec.png) no-repeat, url(./images/contact-dec.png) no-repeat right bottom;
}
.contact iframe {
    border-radius: 20px;
    margin-top: 20px;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.contact-form {
    display: flex;
    padding: 20px;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    background: url(./images/contact-form-bg.png) center no-repeat;
}
.contact-form form {
    padding: 20px;
}
.contact-form form input {
    width:100%;
    padding: 10px;
    margin: 30px 0;
    border: none;
    border-bottom: 1px solid var(--bs-info);
    font-size: 17px;
    background-color: transparent;
    outline: none;
}
.contact iframe {
    width: 100%;
    height: 400px;
}
.contact-form .btn {
    padding: 10px 20px;
    border-radius: 20px;
}

/* footer */
.footer {
    display: inline-block;
    background: url(./images/footer-dec.png) no-repeat;
    width: 100%;
}
.box {
    flex-basis: 25%;
    margin: 20px 0 0px 30px;
    padding: 10px;
}
.box h4 {
    margin-bottom: 10px;
}

.icon-box {
    display: flex;
    margin-top: 20px;
}
.box-1 p {
    margin-top: 20px;
}
.footer-link a {
    display: block;
    flex-wrap: wrap;
}
.footer .footer-link a,
.footer p {
    color: var(--bs-light-gray);
    font-size: 16px;
    margin-bottom: 10px;
}
.footer a:hover {
    color: var(--bs-red-orange);
}
.btn3 {
    background: var(--bs-primary);
    padding: 0 15px;
    border-radius: 30px;
    transition: all ease 0.5s;
    width: 100%;
    margin-top: 10px;
    display: flex;
}
.box input {
    height: 50px;
    background-color: transparent;
    color: var(--bs-white);
    width: 95%;
}
.box input::placeholder {
    color: var(--bs-white);
}
.box a i {
    color: var(--bs-white);
    margin-top: 15px;
}
.end {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0;
}
hr {
    color: var(--bs-light-gray);
    opacity: 0.3;
}
.end p {
    margin-top: 20px;
}
.end a {
    color: var(--bs-red-orange);
}

@media only screen and (max-width: 800px) {
    .container {
        min-width: 600px;
        margin: 0 auto;
    }
    .row {
        flex-wrap: wrap;
    }
    .col-2 {
        flex-basis: 100%;
    }
    .header .menu-icon {
        display: block;
    }
    nav ul {
        position: absolute;
        top: 70px;
        background: #fafafa;
        right: 0;
        width: 200px;
        overflow: hidden;
        transition: max-height 0.5s;
        text-align: center;
        display: block;
    }
    nav ul li {
        display: block;
        margin: 20px;
    }
    .h-btn {
        display: none;
    }
    .col-3 {
        flex-basis: 100%;
    }
    .main-container::before {
        display: none;
    }
    .projects-col {
        min-width: 100%;
    }
    .portfolio-box {
        flex-wrap: wrap;
    }
    .portfolio-col {
        width: 100%;
    }
    .form-box form {
        height: 250px;
    }
    .col-8 {
        flex-basis: 100%;
    }

    .video iframe {
        width: 100%;
        position: relative;
    }
    .video .col-2 {
        flex-basis: 100%;
    }
    .col-2 .project-tumb {
        width: 100%;
    }
    .col-2 .project-tumb img {
        width: 100%;
    }
    .col-8 .video-overlay {
        display: none;
    }
    .box {
        flex-basis: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .container {
        min-width: 400px;
    }
    .row{
        flex-basis: 100%;
    }
    .form {
        margin: 0;
        padding-top: 0;
    }
    .form-box {
        width: 100%;
        padding: 30px 20px;
    }
    }
